:root {
  /*color*/
  --main1: #748e64;
  --main2: #acc69f;
  --main3: #a1a1a1;
  --main4: #f8f3cc;
  --blue: #6c63ff;
  --BG1: #f8f8fa;
  --BG2: #f1f1f5;
  --error: #ff3120;
  --font1: #ededed;
  --font2: #dbdbdb;
  --font3: #191919;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--font3);
}

ul {
  list-style: none;
}
body {
  color: var(--font3);
}

/*header*/
/*header-글자*/
header {
  margin: 20px 50px;

  display: flex;
  justify-content: space-between;
}
header .write {
  display: flex;
  justify-content: space-between;
  color: var(--font3);
}
header .logo {
  font-size: 20px;
  font-weight: bold;
  padding: 8px;
  padding-bottom: 0px;
  border-bottom: 3px solid var(--main2);
}
header ul {
  display: flex;
  justify-content: space-between;
}
header ul li {
  padding: 8px 12px;
}
/*header-버튼*/
.btn {
  display: flex;
  justify-content: space-between;
}
.btn button {
  display: inline-block;
  border: none;
  padding: 8px 12px;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
}
#login {
  background-color: white;
}
#join {
  background-color: var(--main1);
  color: var(--font1);
  border-radius: 5px;
}

/*footer*/
footer {
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
  width: 300px;
}
footer .logo {
  font-size: 20px;
  font-weight: bold;
  vertical-align: middle;
}
footer ul {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

footer li {
  padding: 8px 12px;
  vertical-align: middle;
}
